In [20]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import random
from pprint import pprint

from decisionTreeAlgorithm import decision_tree_algorithm
from utils import train_test_split,calculate_accuracy

In [24]:
df = pd.read_csv("./data/Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Drop the ID column and rename the response as label

In [25]:
df = df.drop("Id", axis=1)
df = df.rename(columns={"Species": "label"})

In [26]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm        label
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [27]:
train_df, test_df = train_test_split(df, test_size=20)

In [28]:
tree = decision_tree_algorithm(train_df, ml_task="classification", max_depth=3)
pprint(tree)

{'PetalWidthCm <= 0.6': ['Iris-setosa',
                         {'PetalLengthCm <= 4.7': ['Iris-versicolor',
                                                   'Iris-virginica']}]}

In [29]:
accuracy = calculate_accuracy(test_df, tree)
accuracy

0.8

### Titanic dataset

In [30]:
df = pd.read_csv("./data/Titanic.csv")
df["label"] = df.Survived
df= df.drop(["Survived", "Name", "Ticket", "Cabin","PassengerId"], axis =1)

In [31]:
# Adding missing values 

median_age = df.Age.median()
mode_Embarked = df.Embarked.mode()[0]
df = df.fillna({"Age": median_age, "Embarked": mode_Embarked})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null object
label       891 non-null int64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [32]:
train_df, test_df = train_test_split(df, test_size=0.2)
tree = decision_tree_algorithm(train_df, 
                               ml_task="classification",
                               max_depth=3)
accuracy = calculate_accuracy(test_df, tree)

pprint(tree, width = 50)
pprint(accuracy)

{'Sex = male': [{'Fare <= 26.25': [{'Age <= 12.0': [1,
                                                    0]},
                                   {'Fare <= 26.3875': [1,
                                                        0]}]},
                {'Pclass = 3': [{'Fare <= 23.25': [1,
                                                   0]},
                                {'Age <= 2.0': [0,
                                                1]}]}]}
0.848314606741573